<html>
<head>
  <title></title>
</head>
<body style="background-color:#0097ff;">
<h1 class="hi_there">hi. <br> how's your <span style="font-weight:400"><%= Time.now.strftime("%A") %></span> going?</h1>
<div style="padding-top:500px;">
<h3 class="hi_there_small">chezbro</h3>
</div>
</body>
</html>
