<html>
<head>
  <title></title>
</head>
<body style="background-color:#0097ff;">
<h1 class="hi_there">hi.<br>how's your <span class="hi_there time_now"><%= Time.now.strftime("%A") %></span> going?</h1>
<div style="padding-top:500px;">
<h4 class="hi_there_small"><a href="http://www. ericchesbrough.com">chezbro</a></h4>
</div>
</body>
</html>
