<html>
<head>
  <script src="/jquery-1.3.2.js" type="text/javascript" charset="utf-8"></script>
  <script src="/jquery.color.js" type="text/javascript" charset="utf-8"></script>
  <script src="/jquery-glowing.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('.white').addGlow({ textColor: 'white', haloColor: '#aaa', radius: 100 });
      $('.orange').addGlow({ textColor: '#E97F02', haloColor: '#00f', radius: 100 });
      $('.green').addGlow({ textColor: '#0f0', haloColor: '#0f0', radius: 100 });
      $('.red').addGlow({ textColor: '#f00', haloColor: '#f00', radius: 100 });
      $('*').bind('glow:started', console.info);
      $('*').bind('glow:canceled', console.info);
    });

  </script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46455602-2', 'hi-there.herokuapp.com');
  ga('send', 'pageview');

</script>
  <title></title>
</head>
<body style="background-color:#0097ff;">
<h1 class="hi_there">hi.<br>how's your <span class="hi_there time_now orange"><%= Time.now.strftime("%A") %></span> going?</h1>

<div style="padding-top:500px;">
<h4 class="hi_there_small"><a href="http://www.ericchesbrough.com">chezbro</a></h4>
</div>
</body>
</html>
