<!-- <h1 style="font-family: 'Lato', sans-serif; font-weight: 100; color: #4ba4ed; font-size:180px; text-decoration:none;"><a href="http://ia.media-imdb.com/images/M/MV5BMTc2NTc3MDcyMl5BMl5BanBnXkFtZTcwODI0ODUzOQ@@._V1_.jpg">Lysie</a></h1>
 -->



<head>
<style>
body {
  background: #333;
  overflow: hidden;
}
</style>
</head>
<div id="bg"><a style="margin: 0 auto; display:inherit;width:50;" href="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSroVMz-dh_A3Q4P8KKK6eKoW4yccbIl9Ej3CrB79x4EE8zIxSX"><img class="bg_image" src="http://25.media.tumblr.com/22a2364224ad35fc36e107840418d1d8/tumblr_mufphbecw61risjq4o3_500.jpg"></a></div>
<script src="shards.js"></script>
<script>
(function($) {
  $('#bg').shards([10,35,180,.15],[255,20,220,.25],[0,0,0,.25],20,.58,2,.15,true);
})(jQuery);
</script>
